.content {
    position: relative;
    top: 95px;
    height: 1000px;
    width: 950px;
    background: #f0f8ff;
    border: 2px solid #e1e2e2;
    margin: 0 auto 120px;
}

.content h2,
.content h3 {
    text-align: center;
    margin: 20px 0;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    background: #d3d3d3;
    border: 1px solid #e1e2e2;
    width: 600px;
    margin: 0 auto;
    line-height: 2em;
    font-weight: normal;
}

.content p {
    width: 900px;
    margin: 25px auto;
    line-height: 1.5em;
}
.barChart1,
.barChart2 {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}
