.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
  /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

body {
  background-color: rgb(238, 238, 238);
}

.main-body {
  height: 1000px;
  width: 950px;
  position: relative;
  left: 400px;
  top: 95px;
  background-color: white;
  border-bottom: 1px #eff1f1 solid;
  box-sizing: border-box;
  margin-bottom: 120px;
  padding: 20px;
  font: 14px/2 tahoma, "\5FAE\8F6F\96C5\9ED1", sans-serif;
}

.main-body h2 {
  text-align: center;
  color: #0da0b4;
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-body .item {
  border-top: 1px #e0e2e2 solid;
  border-bottom: 0;
}
.main-body .badge-country {
  color: #e9852d;
  border: 1px #e9852d solid;
}
.main-body .badge-city {
  color: #bb9a6c;
  border: 1px #c5ab86 solid;
}
.main-body .badge-school {
  color: #1da6ba;
  border: 1px #69c5d2 solid;
}

.main-body .list-group a {
  vertical-align: middle;
  width: 370px;
  height: 39px;
  overflow: hidden;
  margin-left: 20px;
  color: #424242;
  font-size: 14px;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}

.main-body .list-group .level-country a:hover {
  color: #e9852d;
}

.main-body .list-group .level-city a:hover {
  color: #bb9a6c;
}
.main-body .list-group .level-school a:hover {
  color: #1da6ba;
}

.main-body .list-group small {
  vertical-align: middle;
  width: 100px;
  height: 28px;
  overflow: hidden;
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
  color: #9d9d9d;
  margin-left: 18px;
}
