.banner-static {
    width: 1050px;
    height: 460px;
    background: #8e44ad;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.bar-container {
    width: 1050px;
    height: 220px;
    margin: 0 auto;
    
}
.bar-container ul li {
    width: 175px;
    height: 100px;
    background: rgb(249, 66, 148);
    border-right: 2px white solid;
    position: relative;
    top: 110px;
    text-align: center;
    list-style-type: none;
    display: block;
    float: left;
}

.bar-container ul li a {
    font-size: 16px;
    line-height: 100px;
    color: white;
    text-decoration: none;
}
.bar-container ul li span {
    font-size: 50px;
    line-height: 50px;
    color: white;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 25px;
}

.msg li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
}

.msg h3 {
    line-height: 2em;
    border-bottom: solid 2px black;
}
.msg h3 a {
    font-size: 18px;
    color: black;
}

.msg li a {
    color: black;
}

#scroll-bar {
    width: 1200px;
    height: 200px;
    margin: 0px auto 10px;
    position: relative;
    /* background: #8e44ad; */
    overflow: hidden;
}

#scroll-bar ul {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

#scroll-bar ul li {
    display: block;
    float: left;
    width: 380px;
    height: 200px;
    list-style: none;
    display: block;
    border: solid 3px rgb(169, 153, 184);
    border-radius: 6px;
}

#scroll-bar ul li img{
    width: 374px;
    height: 194px;
}
