.left-nav {
    width: 400px;
    position: fixed;
}

.left-nav ul {
    margin: 110px 0 0 115px;
    list-style: none;
}

.left-nav ul li {
    width: 180px;
    height: 50px;
    background: rgb(82, 202, 238);
    border: 10px solid white;
    border-radius: 50px;
    font-size: 14px;
}

.left-nav ul .li1 {
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    background: #333;
    border-radius: 50px;
    color: #fff;
}

.left-nav ul li a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    line-height: 50px;
}

.left-nav ul li:hover {
    color: #fff;
    background: #00cecb;
    animation: changeColor 2s infinite;
    animation-delay: 0.3s;
}

@keyframes changeColor {
    0% {
        background: #1d84b5;
    }

    50% {
        background: #00cecb;
    }

    100% {
        background: #1d84b5;
    }
}

.left-nav .search {
    background: rgb(170, 204, 255);
    width: 200px;
    margin: 20px 0 120px 90px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.left-nav .search h2 {
    font-size: 18px;
}

.left-nav .search p {
    float: left;
    font-size: 15px;
}

.left-nav .search select {
    width: 88px;
    height: 25px;
    line-height: 25px;
}

.left-nav .search button {
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.left-nav .search input {
    width: 100px;
    height: 20px;
    line-height: 25px;
}

.left-nav .search div {
    margin: 20px 0;
}


/* 路径显示 */
.path {
    height: 30px;
    width: 100%;
    position: relative;
    top: 80px;
    margin: 0px 0px 0px 150px;
    font-size: 15px;
}

.path .hr {
    width: 650px;
    height: 2px;
    background: rgb(40, 112, 200);
}
.path .path-current{
    padding-left: 5px;
    padding-right: 10px;
}

.path span {
    line-height: 30px;
}

.path span a{
    text-decoration: none;
    color: rgb(40, 112, 200);
}
/* 图表显示 */
@font-face {font-family: "iconfont";
    src: url('font/iconfont.eot?t=1571994576205'); /* IE9 */
    src: url('font/iconfont.eot?t=1571994576205#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKUAAsAAAAABkQAAAJJAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXwE2AiQDCAsGAAQgBYRtBzkbjgXILrBt2JMiNTGgCLhOnzSEFx7x8P1+v1/73HMR90gUzaKJyJDIdKJY89R/SFYte8h/3tVc7gMbs+PD8lWJFOvA3uU+fNmSI9Ct0VWqQn6FqyTor85RZgmIZ1kt2D5x7/SvgAKZDyjHtTdN6gLq4kAKaG+MIiuhjBvGLniBjwnUGWJobC1tbENfZq8KxLmSPvQLIVlm2RqhquFgFo9KNekqDTxE349/vOiTlAW7bvdsMYKZn5y81kmFk4AQJqDjJQosAJk4bExtawnGbqlLtY2BY1UHP/1XAos4qlGwv86ubAADUPRMYk/yqNkEjzVSG9AzaRLRFt592b236299uumkBx3RfSfDj23yy66TbdM2Mao/g2X9+guYAX+W3lMCQd//r9K89FpTn8HXP75EhmyYh5p9uIN/IR7YlQ2pbU5ZEzf2J23naKhThwrsa/M8Vdd54lyo0TnBU20wQ6HGBJlZCyjVW0SVGquoM2/5eL12WkvkWsy5BAgtHpE0+YBCiycys6YodXlBlZZooc5xtF9YbyrUcFOTzxRhcIwqLHLhWnkYV2+S3E99nZdGnF3StYqiaznl7DLlpJfYUh9Ij1mg0EWGS+A5StMCS11MKGQrZi7Hti2a3mSFRQZDmzTiYySCAseQEirkRDCYDSuf30SkfSmf7uioC+8iWk2Nj1wWZwC5rMoHdTzKK7UDkocxAQlaIYOWwDySShVQ2TxvgoSYJZ6QKI3ZTi8xVGVtr8n+7hDUsfUpnE2F5lMV7Ed+Efu5TD2nCQAA') format('woff2'),
    url('font/iconfont.woff?t=1571994576205') format('woff'),
    url('font/iconfont.ttf?t=1571994576205') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('font/iconfont.svg?t=1571994576205#iconfont') format('svg'); /* iOS 4.1- */
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dibudaohanglan-:before {
    content: "\e62d";
  }